{deps,
  [
    {eredis, ".*",{git, "https://github.com/wooga/eredis.git", "master"}},
    {meck, ".*",{git, "https://github.com/eproxus/meck.git", {tag, "0.8"}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "master"}},
    {pgsql, ".*", {git, "https://github.com/semiocast/pgsql.git", "master"}}
  ]
}.
{sub_dirs, ["rel"]}.
